body {
    margin: 0;
}

canvas {
    width: 100%;
    height: auto;
}

#clearVideo {
    display: none;
    position: fixed;
    width: 80%;
    max-width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}